#parallax-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
#page {
    position: relative;
    z-index: 888;
}
#page ::selection {
    background: #00bac4;
    color: white;
}
.site-title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    position: relative;
}
.site-title a {
    color: #00bac4;
    font-size: 29px;
    font-weight: 200;
}
.site-title a:hover {
    text-decoration: none;
}
.site-description {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #b4b4b4;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
}
.main_logo {
    max-width: 590px;
}


a:hover .social-icon {
    text-decoration: none;
}
#header-2 {
    padding-top: 15px;
    width: 100%;
    background: #FFF;
}

a {
    color: #00bac4;
}
a:hover,
a:focus,
a:active {
    color: #00d2de;
}
#carousel-wrapper {
    margin-bottom: 55px;
}
#carousel-wrapper .bx-wrapper .bx-next {
    margin-right: 10px;
}
#carousel-wrapper .bx-wrapper .bx-viewport {
    box-shadow: none;
}
#carousel-wrapper .bx-wrapper .bx-viewport ul {
    margin-left: 0px;
}
.nav-wrapper {
    margin-bottom: 25px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    text-align: center;
}

.slider-wrapper {
    margin: auto;
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 80px;
    padding-top: 0px;
    border-bottom: none;
}
.slide-title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #ddd;
}
.nivo-caption {
    bottom: 80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: none !important;
    text-align: center;
    /* max-width: 900px; */
    color: #fff;

    h1{
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        font-size: 72px;
        color: #FFFFFF;
        font-weight: bold;
        margin: 0;
        line-height: 80px;
    }

    h3{
        color: #FFFFFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        font-size: 48px;
        color: #FFFFFF;
        font-weight: 400;
        margin: 0;
        margin-bottom: 25px
    }

    .slide-title{
        color: #FFFFFF;
        font-size: 24px;
        line-height: 28px;
        font-weight: normal;
        font-style: italic;
    }
}
.nivo-caption a {
    display: inline-block;
}
.nivo-html-caption {
    display: none;
}
.nivocapper {
    display: inline-block;
    padding: 5px 35px;

    bottom: 30px;
}
div.slide-title {
    font-size: 36px;
    display: block;
}
div.slide-description {
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-controlNav {
    margin-top: -46px;
    z-index: 99999;
}
.nivo-imageLink {
    z-index: 99999;
}

#content {
    background: none;
    padding: none;
    padding-top: 15px;
    margin-right: 0px;
    margin-left: 0px;
}
#primary {
    padding: 20px 15px;
    background: #fff;
    padding-top: 10px;
    margin-top: 35px;
    border: solid 1px #eee;
}
.byline {
    display: inline;
}
.single .fa-clock-o:before,
.single .fa-user:before {
    color: #00bac4 !important;
}
article.archive .article-rest {
    margin: auto;
}
.featured-thumb {
    margin: auto;
    margin-top: 35px;
    overflow: hidden;
    width: 95%;
    padding: 0px;
}
.featured-thumb .img-meta {
    position: absolute;
    z-index: 9999;
    background: rgba(0, 210, 222, 0.5);
    width: 100%;
    height: 100%;
    left: 0px;
    display: none;
    text-align: center;
}
.featured-thumb .img-meta .meta-icon {
    display: inline-block;
    font-size: 24px;
    width: 36px;
    background: #00595e;
    border-radius: 4px;
    margin-top: 150px;
}
.featured-thumb .img-meta .meta-link {
    padding: 15px 25px;
    color: #00bfc9;
    padding-left: 26px;
}
.featured-thumb .img-meta .meta-link:hover {
    color: #02f2ff;
    text-decoration: none;
}
.featured-thumb .img-meta .meta-link i {
    position: relative;
    left: -19px;
}
.featured-thumb .img-meta .meta-link .icon-link {
    left: -17px;
}
.featured-thumb .img-meta .img-meta-img .meta-link {
    padding-left: 24px;
}
.featured-thumb:hover .img-meta {
    background: rgba(0, 210, 222, 0.65);
}
.featured-thumb:hover img {
    -webkit-transform: scale(1.05);
    opacity: 0.98;
}
.featured-thumb img {
    box-shadow: 0px 1px 2px #444;
    margin-bottom: 0px;
    transition: 0.4s all ease;
    min-width: 100%;
    height: auto;
}
.archive .entry-title a {
    display: block;
    font-size: 26px;
    color: #000000;
    color: #00bac4;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.archive .entry-title a:hover {
    color: #00d2de;
}
.archive .entry-meta {
    font-size: small;
    color: #00bac4;
    /* border-bottom: solid 6px lighten(@sidebar-link-color,25%); */

    padding-bottom: 15px;
    color: #999999;
}
.archive .entry-meta a {
    color: #999999;
}
.archive .entry-meta .posted-on {
    margin-right: 6px;
}
.archive .entry-header {
    padding: 0 15px;
    margin-bottom: -30px;
}
.blog .entry-title,
.search .entry-title,
body.archive .entry-title {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    display: block;
}
.tag .entry-meta {
    border-bottom: none;
}
.cat-page-title {
    margin: 20px 0px !important;
}
.single .entry-h1,
.page .entry-h1 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: block;
}
.single .entry-h1 h1,
.page .entry-h1 h1 {
    font-size: 30px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.single .entry-h1:after,
.page .entry-h1:after {
    content: "";
    clear: both;
    width: 92%;
    height: 6px;
    position: absolute;
    margin-left: 1%;
    margin-top: 10px;
    /* border-bottom: double 6px lighten(@sidebar-link-color,25%); */

}
.single .entry-title,
.page .entry-title {
    color: #666666;
    line-height: 1.6em;
}
.entry-content {
    line-height: 1.8em;
    color: #999999;
}
.comments-link {
    float: right;
}
.entry-meta {
    color: #999999;
}
.entry-meta .posted-on {
    margin-right: 10px;
}
.entry-meta .edit-link {
    float: right;
}
.entry-meta .fa-tags {
    margin-left: 10px;
}
footer.entry-meta {
    margin-top: 25px;
}
.single article.post,
.page article.post {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
.single .entry-meta,
.page .entry-meta {
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 15px;
}
.single footer.entry-meta,
.page footer.entry-meta {
    border-bottom: none;
    padding-bottom: 0px;
}
#nav-below {
    margin-top: 30px;
    margin-bottom: 20px;
}
#nav-below a {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.featured-image-single {
    text-align: center;
    margin: 30px auto;
    margin-top: 20px;
}
.featured-image-single img {
    max-width: 98%;
    box-shadow: 0px 25px 6px -20px #888888;
    margin-bottom: 15px;
    border-radius: 5px;
}
h1.page-title {
    text-transform: uppercase;
    color: #999999;
    font-family: "Open Sans", Times, serif;
    font-weight: bold;
    display: inline-block;
    border-bottom: solid 4px #999999;
    margin-top: -15px;
}
.page-header {
    border-bottom: 0px;
}

#primary-home article {
    padding: 0px;
}
#primary-home .article-wrapper {
    border: solid 1px #eee;
    width: 94%;
    background: #fff;
    height: 100%;
}
#primary-home .featured-thumb {
    margin-top: 0px;
    width: 100%;
}
#primary-home .entry-title a {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #999999;
    transition: 0.4s all ease;
    line-height: 1.5em;
}
#primary-home .entry-title a:hover {
    text-decoration: none;
    color: #00bac4;
}
#primary-home .entry-meta {
    margin-top: 8px;
    font-size: 12px;
    color: #999999;
    display: block;
    border-bottom: solid 1px #ccc;
    padding-bottom: 6px;
}
#primary-home .entry-meta a {
    color: #999999;
}
#primary-home .entry-content {
    line-height: 1.7em;
}
#primary-home h1.entry-title {
    margin-bottom: 0px;
}
#primary-home h1.entry-title:after {
    content: none;
}
#primary-home .entry-meta {
    font-size: small;
    color: #00bac4;
    border-bottom: solid 1px #d9d9d9;
    color: #999999;
}
#primary-home .entry-meta a {
    color: #999999;
}
#primary-home .entry-meta .posted-on {
    margin-right: 6px;
}
#primary-home .entry-header {
    padding: 0;
    margin-bottom: 0;
}
#secondary,
#footer-sidebar {
    padding: 20px 10px;
}
#secondary ul,
#footer-sidebar ul {
    list-style: none;
    margin-left: 5px;
}
#secondary ul li:before,
#footer-sidebar ul li:before {
    margin-right: 5px;
    content: "\f0da";
    font-family: "FontAwesome";
    color: #999999;
}
#secondary ul li,
#footer-sidebar ul li {
    margin-bottom: 8px;
}
#secondary ul ul,
#footer-sidebar ul ul {
    margin-left: 15px;
}
#secondary ul ul li:before,
#footer-sidebar ul ul li:before {
    content: "\f111";
    font-size: 5px;
    position: relative;
    top: -3px;
}
#secondary ul ul ul,
#footer-sidebar ul ul ul {
    margin-left: 5px;
}
#secondary .widget_recent_entries li:before,
#footer-sidebar .widget_recent_entries li:before {
    content: "\f0f6";
}
#secondary .widget_recent_entries li,
#footer-sidebar .widget_recent_entries li {
    border-bottom: solid 1px #ffffff;
    padding: 5px 0px;
}
#secondary .widget_recent_comments li:before,
#footer-sidebar .widget_recent_comments li:before {
    content: "\f075";
    font-size: 12px;
    position: relative;
    top: -2px;
}
#secondary .widget_calendar caption,
#footer-sidebar .widget_calendar caption {
    font-weight: bold;
    margin-bottom: 7px;
}
#secondary .widget_calendar table,
#footer-sidebar .widget_calendar table {
    padding: 5px;
    text-align: center;
    background: #fff;
}
#secondary .widget_calendar thead,
#footer-sidebar .widget_calendar thead {
    border-bottom: solid 1px #00d2de;
}
#secondary .widget_calendar thead th,
#footer-sidebar .widget_calendar thead th {
    background: #ddd;
    padding: 5px;
    text-align: center;
}
#secondary .widget_calendar tr td,
#footer-sidebar .widget_calendar tr td {
    padding: 8px !important;
    background: #eee;
    margin: 4px;
    text-align: center;
}
#secondary .widget_calendar #prev,
#footer-sidebar .widget_calendar #prev {
    text-align: left;
}
#secondary .widget_calendar #next,
#footer-sidebar .widget_calendar #next {
    text-align: right;
}
#secondary h1.widget-title,
#footer-sidebar h1.widget-title {
    font-size: 25px;
    font-weight: normal;
    border-bottom: solid 4px #d9d9d9;
    padding: 5px;
    margin-top: 0px;
    color: #00bac4;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-bottom: 20px;
}
#secondary .widget_search label,
#footer-sidebar .widget_search label {
    width: 100%;
}
#secondary .widget_search form,
#footer-sidebar .widget_search form {
    width: 100%;
    padding: 10px 5px;
}
#secondary .widget_search input[type=submit],
#footer-sidebar .widget_search input[type=submit] {
    display: none;
}
#secondary .widget_search input[type=text],
#footer-sidebar .widget_search input[type=text] {
    display: block;
    min-width: 96%;
    margin-left: 20px;
}
#secondary select#cat,
#footer-sidebar select#cat {
    margin-bottom: 10px;
    margin-left: 10px;
}
#secondary .widget,
#footer-sidebar .widget {
    background: #fff;
    margin-top: 15px;
    padding-top: 0px;
    padding: 10px;
    border: solid 1px #eee;
}
#secondary .widget a,
#footer-sidebar .widget a {
    color: #999999;
}
#secondary .widget > div,
#footer-sidebar .widget > div {
    padding: 7px;
}
#footer-sidebar {
    clear: both;
    padding: 15px 0px;
}
#footer-sidebar .footer-column {
    margin: 15px 0;
    padding: 0 5px;
}
.pagination {
    margin: 20px 0;
    width: 100%;
    margin-left: -20px;
    text-align: center;
    clear: both;
}
.pagination ul {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 0;
}
.pagination ul > li {
    display: inline;
}
.pagination ul > li > a {
    color: #eeeeee;
    transition: all 0.4s ease;
}
.pagination ul > li > a .next {
    float: right;
}
.pagination ul > li > a:hover {
    color: #00bac4;
    background: #eee;
}
.pagination .current {
    background: #00d2de;
}
.pagination ul  > li  > a,
.pagination ul  > li  > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: solid 1px #f1f1f1;
    border-left-width: 0;
    display: inline-block;
    color: #27979d;
}
.pagination ul  > li:first-child  > a,
.pagination ul  > li:first-child  > span {
    border-left-width: 1px;
}
.pagination ul  > li:last-child  > a,
.pagination ul  > li:last-child  > span {
    border-rigth-width: 1px;
}

.sep {
    font-size: 8px;
    position: relative;
    top: -2px;
    padding: 0 5px;
    color: #999999;
}
article table {
    background: #f7f7f7;
}
article table td {
    padding: 5px;
    border: solid 1px #eee;
}
article table th {
    padding: 5px;
    background: #ccc;
    border: solid 1px #ccc;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    color: #595959;
}
article blockquote {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
article code {
    background: #14a8b0;
    color: #000000;
}
.rp-item {
    display: block;
    clear: both;
    overflow: auto;
    margin-bottom: 8px;
    border-bottom: solid 1px #ffffff;
    padding-bottom: 5px;
}
.rp-item:before {
    content: none !important;
}
.rp-thumb {
    float: left;
    width: 64px;
    margin-right: -5px;
    margin-top: 3px;
}
.rp-thumb img {
    width: 48px;
    border: solid 2px #eee;
    border-radius: 2px;
}
.rp-thumb rp-title {
    clear: none;
}
.rp-thumb rp-title a {
    display: block;
}
#respond input[type=text] {
    max-width: 450px;
}
#comments ol.comment-list {
    list-style: none;
}
#comments li.comment {
    border: solid 1px #eee;
    padding: 10px;
    margin-top: 15px;
    list-style: none;
    background: #f9f9f9;
}
#comments .vcard img {
    border: solid 4px #ffffff;
    border-radius: 5px;
    margin: 0 10px 10px 0;
}
#comments .comment-metadata {
    font-weight: bold;
}

h1{
    font-size: 48px;
    color: #FF4000;
    font-weight: bold;
    font-style: italic;
}
main{
    .white-left{
        /*background-color: #FFFFFF;*/
        color: #FF4000;
        text-align: right;
        text-align: left;
        padding: 50px 0 30px;

        h1{
            font-size: 36px;
            font-weight: bold;
            font-family: $font-open;
            color: #FF4000;
        }
        .col-left{
            width: 50%;
            float: left;
            padding: 15px;
        }
        .col-right{
            width: 50%;
            float: left;
            padding: 15px;
        }
        .entry-content{
            font-size: 14px;
            font-family: $font-open;
            color: #636363;
        }

        .btn-more-post{
            border: 2px solid #FF4000;
            color: #FF4000;
            border-radius: 25px;
            padding: 8px 20px;
            font-weight: bold;
            @include transition(all 0.35s);

            &:hover{
                background-color: #FF4000;
                color: #FFFFFF;
            }
        }
    }

    .red-right{
        background-color: #FF4000;
        color: #FFFFFF;
        text-align: right;
        padding: 50px 0 30px;

        h1.entry-title{
            font-size: 36px;
            font-weight: bold;
            font-family: $font-open;
            color: #FFFFFF;
        }

        .entry-content{
            font-size: 14px;
            font-family: $font-open;
            color: #FFFFFF;
        }

        .col-left{
            width: 50%;
            float: right;
            padding: 15px;
        }

        .col-right{
            width: 50%;
            float: right;
            padding: 15px;
        }

        .btn-more-post{
            border: 2px solid #FFFFFF;
            color: #FFFFFF;
            border-radius: 20px;
            padding: 7px 15px;
            font-weight: bold;
            @include transition(all 0.35s);

            &:hover{
                background-color: #FFFFFF;
                color: #FF4000;
            }
        }
    }

    .image-post-home{
        img{
            max-width: 100%;
            border:6px solid #FFFFFF;
            @include box-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
        }
    }

    .banner{
        img{
            width: 100%;
        }
    }
    .price{
        text-align: center;
        margin: 40px 0;

        img{
            max-width: 100%;
        }
    }
}
.btn-slide{
    @include transition(all 0.35s);
}
.slider-wrapper12{
    margin-top: 80px;

    .bx-wrapper .bx-viewport{
        box-shadow: none;
        border: 0;
        left: 0;
        background: none;
        font-family: $font-open;

        img{
            border: 6px solid #FFFFFF;
            @include box-shadow(0 10px 20px rgba(0, 55, 100, 0.3));
            margin-bottom: 20px;
        }

        h2{
            font-size: 36px;
            font-weight: bold;
            color: #000000;
        }
        p{
            color: #636363;
            font-size: 14px;
        }
    }
}

.theme-default .nivo-directionNav a {
    display:block;
    width:60px;
    height:120px;
    background:url('../../images/slider-control.png') no-repeat;
    text-indent:-9999px;
    border:0;
    opacity: 0;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
    background-position:-60px 0;
    right: 0px;

    &:hover{
        background-position:-60px -120px;
    }
}
.theme-default a.nivo-prevNav {
    left:0px;

    &:hover{
        background-position: 0px -120px;
    }
}

.page-single{
    h1{
        color: #000000;
        font-size: 60px;
        font-weight: 700;
        font-weight: bold;
    }

    h3{
        color: #FF4000;
        font-size: 36px;
        font-style: italic;
        font-weight: bold;
    }

    h4{
        color: #000000;
        font-size: 20px;
        font-style: italic;
    }

    p{
        color: #000000;
        font-size: 14px;
        font-family: $font-open;
    }


}
.osc-res-tab.osc-tabs-center > div{
    border-bottom: 0;
}
.osc-res-tab .nav.osc-tabs-center-ul li{
    padding: 3px;
    margin: 0 5px
}
.contact-tab{

    .nav-tabs{
        li{
            padding: 3px;

            a{
                padding: 0 4px;
                margin: 0;
                color: #007399;
                border-bottom: 1px dashed #007399;
            }

            &.active{
                a{
                    border: 0;
                    border-radius: 3px;
                    background-color: #FF4000;
                    color: #FFFFFF; 
                    padding: 0 4px;

                    &:hover, &:active, &:focus{
                        border: 0;
                        border-radius: 3px;
                        background-color: #FF4000;
                        color: #FFFFFF; 
                        padding: 0 4px;
                    }
                }
            }

            &:hover{
                a{
                    background: none;
                    border-color: transparent;
                }
            }
        }
    }
}

.galery-3{

    a{
        width: 28%;
        display: inline-block;
        float: left;
        margin: 20px;

        img{
            border: 6px solid #FFFFFF;
            @include box-shadow(0 10px 20px rgba(0, 55, 100, 0.3));
            width: 100%;
        }
    }
}

.galery-5{
    padding: 10px 50px;

    a{
        width: 20%;
        display: inline-block;
        float: left;
        padding: 1px;

        img{
            //border: 6px solid #FFFFFF;
            //@include box-shadow(0 10px 20px rgba(0, 55, 100, 0.3));
            width: 100%;
        }
    }
}
.block-dot{
    width: 19%;
    display: inline-block;
    text-align: center;
    
    .logo{
        width: 180px;
        height: 180px;
        margin: 15px auto;
        background: #f0f0f0; /* Old browsers */
        background: -moz-linear-gradient(top,  #f0f0f0 0%, #f0f0f0 50%, #e6e6e6 51%, #e6e6e6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(50%,#f0f0f0), color-stop(51%,#e6e6e6), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #f0f0f0 0%,#f0f0f0 50%,#e6e6e6 51%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #f0f0f0 0%,#f0f0f0 50%,#e6e6e6 51%,#e6e6e6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #f0f0f0 0%,#f0f0f0 50%,#e6e6e6 51%,#e6e6e6 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #f0f0f0 0%,#f0f0f0 50%,#e6e6e6 51%,#e6e6e6 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
        border-radius: 90px;
        color: #FF4000;
        font-size: 80px;
        text-align: center;
        
        span{
            height: 180px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    a{
        font-size: 18px;
        color: #338FAD;
        border-bottom: 1px solid #B2D5E0;
        
        &:hover{
            text-decoration: none;
            border-bottom: 0;
        }
    }
}
.testimonials-widget{
    p{
        color: #000000;
        font-size: 14px;
        font-family: $font-open;
    }
    img{
            border: 6px solid #FFFFFF;
            @include box-shadow(0 10px 20px rgba(0, 55, 100, 0.3));
            width: 100%;
        }
}