body{
    //background-color: #F3F7FA;
}
header.head-site{
    background-color: #FF4000;

    .inner-header{
        background: #FFFFFF; /* Old browsers */

        height: 117px;
        padding-left: 190px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .logo-side{
        position: absolute;
        top: 0;
        left: 0;
        height: 117px;
        width: 172px;       
        line-height: 117px;
        text-align: left;

        .arr-logo{
            background: url("../../images/h-bg-logo.png") no-repeat right top;
            background-size: 100% 100%;
            position: absolute;
            right: 0;
            height: 117px;
            width: 42px;
        }

        .logo-container{
            background-color: #FF4000;
            width: 130px;

            img{
                height: 80px;
            }
        }

        &:hover{
			cursor: pointer;
			
            .logo-container{
                background: #ff4000; /* Old browsers */
                background: -moz-linear-gradient(left,  #ff4000 0%, #ff6231 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff4000), color-stop(100%,#ff6231)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  #ff4000 0%,#ff6231 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  #ff4000 0%,#ff6231 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  #ff4000 0%,#ff6231 100%); /* IE10+ */
                background: linear-gradient(to right,  #ff4000 0%,#ff6231 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4000', endColorstr='#ff6231',GradientType=1 ); /* IE6-9 */

            }
            .arr-logo{
                background: url("../../images/h-bg-logo-h.png") no-repeat right top;
				background-size: 100% 100%;
            }
        }
    }

    nav#site-navigation{
        display: block;
        display: inline-block;
        padding-bottom: 0px;
        border: none;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-top: 25px;


        ul{
            list-style: none;
            margin: 0;
            padding-left: 0;
            padding-bottom: 0px;

            li{
                display: inline-block;
                line-height: 25px;

                a{
                    color: #007399;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: italic;
                    text-decoration: none;
                    border-bottom: 1px solid #B2D5E0;
                    display: inline-block;
                    @include transition(all 0.35s);

                    &:hover{
                        color: #FF4000;
                        border-color: #FFC6B2;
                    }
                }

                &:hover > ul {
                    display: block;
                }

                &:after{
                    content: "/";
                    color: #F0F0F0;
                    font-size: 25px;
                    padding-right: 15px;
                    padding-left: 15px;
                    display: inline-block;
                    font-weight: normal;
                }

                &:last-child{
                    &:after{
                        content: " ";
                        padding: 0;
                    }
                }
            }
            ul {
                display: none;
                float: left;
                position: absolute;
                top: 5.0em;
                left: 0;
                z-index: 99999;
                background: #eeeeee;
                text-align: left;
                border: none;
                border-top: solid 3px #EFEFEF;
                padding-top: 0px;
                box-shadow: 0px 5px 4px -4px #4a4a4a;

                a {
                    min-width: 200px;
                    max-width: 255px;
                    font-size: 14px;
                    font-weight: normal;
                    color: #555;
                    padding: 8px 20px;
                }
            }
        }
        .caret {
            display: none;
        }
    }

    .work-time{
        position: absolute;
        right: 0;
        top: 0;
        height: 117px;

        .arr-info{
            background: url("../../images/h-bg-info.png") no-repeat right top;
            background-size: 100% 100%;
            position: absolute;
            left: -42px;
            height: 117px;
            width: 42px;
        }

        .info-block{
            height: 117px;
            background-color: #FF4000;
            color: #FFFFFF;
            padding: 15px;
            text-align: right;
            margin-right: -150px;
            @include transition(margin-right 0.35s);

            .call-numb{
                font-size: 24px;
                font-weight: bold;
                font-style: italic;
                color: #FFFFFF;

                &:hover{
                    text-decoration: none;
                }
            }

            .adress{
                font-size: 18px;
                font-style: italic;
                margin-bottom: 0;
                color: #FFC6B2;
            }

            .str{
                border-bottom: 1px dashed #FFC6B2;
                font-weight: bold;
                font-style: italic;
                color: #FFFFFF;
                font-size: 18px;
            }

            .info{
                display: inline-block;
                float: left;
            }

            .hiden-block{
                width: 150px;
                height: 100%;
                display: inline-block;
                float: left;

                p{
                    margin-bottom: 5px;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: italic;
                }

                a.show-map{
                    border: 1px solid #FFFFFF;
                    border-radius: 14px;
                    padding: 4px 12px;
                    color: #FFFFFF;
                    margin-top: 3px;
                    font-size: 12px;
                    display: inline-block;
                    @include transition(all 0.35s);

                    &:hover{
                        text-decoration: none;
                        background-color: #FFFFFF;
                        color: #FF4000;
                    }
                }
            }

            &:hover{
                margin-right: 0;
            }
        }
    }

    .top-menu{
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: -1px;

        li{
            display: inline-block;
            margin-right: 20px;
            line-height: 30px;


            a.price-btn{
                background: url("../../images/bg-price.png") no-repeat 0 0;
                display: inline-block;
                width: 112px;
                height: 30px;
                color: #FFFFFF;
                font-size: 13px;
                font-weight: bold;
                font-style: italic;
                text-align: center;

                &:hover{
                    text-decoration: none;
                    background: url("../../images/bg-price-hover.png") no-repeat 0 0;
                }
            }

            a.adress-link{
                font-size: 14px;
                color: #007399;
                font-style: italic;
                background: url("../../images/contact_blue.png") no-repeat 0 center;
                padding: 5px;
                padding-left: 25px; 

                &:hover {
                    text-decoration: none;
                    color: #FF4000;
                    background: url("../../images/contact.png") no-repeat 0 center;
                }
            }

            a.like{
                background: url("../../images/facebook_imi-place.png") no-repeat 0 0;
                width: 72px;
                height: 20px;
                display: inline-block;
                vertical-align: middle;
            }

            .lang-link{
                padding: 0;
                margin: 0;

                li{
                    display: inline-block;
                    margin-right: 10px;

                    a{
                        color: #007399;
                        font-size: 12px;
                        font-style: italic;
                        font-weight: bold;
                        border-bottom: 1px solid #B2D5E0;
                        @include transition(all 0.45s);

                        &:hover{
                            color: #FF4000;
                            border: 0;
                            text-decoration: none;
                        }
                    }

                    &.selected{
                        a{
                            color: #FF4000;
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}