header{
    background: rgb(225,216,205); /* Old browsers */
background: -moz-linear-gradient(top, rgba(225,216,205,1) 0%, rgba(255,255,255,1) 60%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,216,205,1)), color-stop(60%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(225,216,205,1) 0%,rgba(255,255,255,1) 60%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(225,216,205,1) 0%,rgba(255,255,255,1) 60%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(225,216,205,1) 0%,rgba(255,255,255,1) 60%); /* IE10+ */
background: linear-gradient(to bottom, rgba(225,216,205,1) 0%,rgba(255,255,255,1) 60%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1d8cd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}