.theme-default .nivoSlider {
    position:relative;
    background:#fff url(loading.gif) no-repeat 50% 50%;
}
.theme-default .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.theme-default .nivoSlider a {
    border:0;
    display:block;
}

.theme-default .nivo-controlNav {
    text-align: center;
    padding: 0;
    padding-top: 20px;
    position: relative;
    top: 35px;
}
.theme-default .nivo-controlNav a {
    display:inline-block;
    width: 10px;
    height: 10px;
    text-indent:-9999px;
    border:2px solid #C8C8C8;
    margin: 0 2px;
    border-radius: 5px;
}
.theme-default .nivo-controlNav a.active {
    background-color: #FF4000;
    border: 2px solid #FF4000;
}

.theme-default .nivo-caption a {
    background-color: #FFFFFF;
    color: #FF4000;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
}
.theme-default .nivo-caption a:hover {
    color: #FFFFFF;
    background-color: #FF4000;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
    width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto;
}